CompileFlags:
  CompilationDatabase: "G:/Projects/MicroTorrent"
  Remove:
    - "-std:c++*"
    - "/std:c++*"
    - "-Xclang"
    - "/EH*"
    - "/utf-8"
    - "/W*"
    - "/Z*"
    - "/MD*"
    - "-MD*"
  Add:
    - "-std=c++17"
    - "-DASIO_STANDALONE"
    - "-IG:/Projects/MicroTorrent/build/_deps/ftxui-src/include"
    - "-IG:/Projects/MicroTorrent/build/_deps/asio-src/asio/include"
    - "-IG:/Projects/MicroTorrent/engine/include"
    - "-IG:/Projects/MicroTorrent/ui/include"
  Compiler: clang++
